@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");

* {
  font-family: arial, helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: auto;
}

header {
  height: auto;
  padding: 10px;
  border-bottom: 3px solid black;
  background-color: white;
}

h1 {
  font-family: "Metamorphous";
  font-size: 70px;
  color: black;
  text-align: center;
}

h2 {
  text-align: center;
}
.loading {
  text-align: center;
  margin-top: 2rem;
}
.lottie-gif {
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
}

.article-title {
  font-size: larger;
}

.article-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-id {
  width: 700px;
  margin-top: 1rem;
  height: auto;
  align-self: center;
  object-fit: cover;
}

.title-id {
  font-size: 40px;
  text-align: center;
}
.article-details {
  font-size: large;
}

.body-id {
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.info-card {
  margin-top: 1rem;
  text-align: left;
  font-size: large;
}
.comment-emoji {
  font-size: larger;
}

.votes-card {
  max-width: 300px;
  margin: auto;
  padding: 10px;
}
.votes-text {
  padding: 10px;
  text-align: center;
  font-size: larger;
}
.votes-button {
  display: flex;
  justify-content: space-between;
}

.nav-style {
  display: flex;
  width: 100%;
  margin-left: 10rem;
}

.nav-font {
  font-size: x-large;
}

#canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
